@use "../../flex_custom.scss" as *;

.container {
  @include center_center;
  width: 100vw;
  height: auto;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  .bubble_back_up {
    @include center_center;
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 200px;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;

    &.hidden {
      opacity: 0;
      pointer-events: none;
      transform: scale(0.8);
    }

    &.visible {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
    }

    &:hover,
    &:focus {
      animation: scale_up 0.5s ease;
      transform: scale(1.1);
    }

    &:focus-visible {
      outline: 3px solid #762ada;
      outline-offset: 4px;
    }

    &:not(:hover):not(:focus) {
      animation: scale_down 0.5s ease;
      transform: scale(1);
    }
  }
}
@keyframes scale_up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes scale_down {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
