@keyframes scale_header_in {
    0%{
        background-color: transparent;
        height: 100px;
        border: 1px solid white;
    }
    100%{
        background-color: rgba(52, 52, 52, 0.77);
        height: 60px;
        border: none;
    }
}
@keyframes scale_header_out {
    0%{
        background-color: rgba(52, 52, 52, 0.77);
        height: 60px;
        border: none;
    }
    100%{
        background-color: transparent;
        height: 100px;
        border: 1px solid white;
    }
}